.page {
  margin-left: 20px; /* leaves space for sidebar */
  margin-top: 80px;   /* leaves space for navbar */
  align-items: self-start;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.page article p {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}
