.sidebar {
  position: fixed;
  top: 80px; /* match navbar height */
  left: 0;
  width: 150px; /* slimmer */
  height: calc(100vh - 60px);
  background: black;
  color: white;
  
}


.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 5px 10px;   /* smaller vertical padding */
  margin-bottom: 0px;  /* controls spacing between items */
  cursor: pointer;
  font-size: 10px;
  transition: background 0.2s;
}

.sidebar-menu button {
  width: 100%;
  background: none;
  border: none;
  color: #e5e5e5;
  font-size: 16px; /* smaller text */
  text-align: left;
  padding: 10px 20px;
  cursor: pointer;
}

.sidebar-menu button:hover {
  background: #1f1f1f;
}

.sidebar-menu button.active {
  color: white;
  font-weight: 500;
}

.sidebar-footer {
  margin-top: 200px;
  left: 20px;
  font-size: 15px;
}