*{

  padding:0;
  margin:0;
  box-sizing:border-box;

}

body{

  min-height: 100vh;
  width: 100%;

}

a{
  text-decoration: none;
  color:inherit;
}
#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}